/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

.counter-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    column-gap: 10px;
    width: 90%;
    max-width: 400px;
}

.title {
    color: red;
    font-size: 40px;
    margin-bottom: 20px;
}

.button-group,
.right-side {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
}

.display {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}


button {
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
/*    cursor: pointer; */
    transition: all 0.3s ease;
}

#btn:active{
  background-color: #ddd;
}

.increase,
.decrease {
  background-color: #ddd;
}

.auto {
    border: 2px solid green;
    color: green;
}

.auto-click{
    border: 2px solid green;
    color: #e6ffe6;
}

.autoButton {
  background-color: #e6ffe6;
}

.reset {
    border: 2px solid red;
    color: red;
    visibility: hidden;
    width: 100%;
    transition: visibility ;
}

.resetButton {
    visibility: visible;
}

/*.reset:hover {
    background-color: #ffe6e6;
}*/
